/* .main{
  width: 96%;
  margin-left: auto;
  margin-right: auto;
} */
.slider,.img-in-slide,.active-slide,.gradient-division-1,.gradient-division-2{
  margin: 0;
  padding:0;
  max-width: 1500px;
  scroll-behavior: smooth;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat',Arial;
  -webkit-text-size-adjust: none;
  width: 100%;
  overflow: hidden;
}
.nav-bar{
  background-color: rgba(0,0,0,0.7);
  display: block;
  /* position: absolute; */
  margin-top: 0px;
  /* z-index: 2; */
  /* width: 96%; */
  /* display: none; */
}
a{
  all: unset;
}
.slide-container{
  /* position: absolute; */
  z-index: 1;
  /* margin-top: 300px; */
  bottom: 0;
}
.home-main-info{
  margin: 0 10px;
  padding: 10px;
}
.home-main-info h1{
  font-size: 80%;
}
.home-main-info svg{
  height: 20px;
  float: left;
  margin-top: 8px;
  rotate: 180deg;
  /* fill: #faa300; */
}
.bottom-container{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
.trending-anime, .animes-in-trending, .most-viewed-anime-container, .best-on-imdb-container, .newly-added-animes{
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.home-main-info{
  width: 90%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.bottom-container h2{
  color: #faa300;
}
.container-in-trending{
  display: flex;
  height: 100%;
}
.vertical-container h3{
  color: rgba(255,255,255,0.7);
  display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  position: absolute;
  padding-left: 20px;
  margin: 0;
  transition: margin 0.5s;
  transform: rotate(-90deg);
  margin-top: 120px;
  margin-left: 100px;
  width: 300px;
  height: 40px;
  line-height: 30px;
  /* right: 0; */
  font-size: 120%;
    background-color: rgba(0,0,0,0.3);
}
.vertical-container span{
  background-color: #faa300;
  /* padding: 5px 10px; */
  /* width: 0px; */
  /* padding: 0 8px; */
  width: 60px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  padding-top: 2px;
  /* position: absolute; */
  /* margin-top: 250px; */
}
.vertical-container{
  height: 40px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  width: 100%;
  /* top: 0; */
  /* background: linear-gradient(180deg,#4a4b51 0,rgba(74,75,81,0) 99%); */
  /* background:linear-gradient(0deg, rgba(0,0,0,0.2),rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(255,255,255,0.4), rgba(255,255,255,0.7)); */
}
.animes-in-trending,.anime-in-container-most-viewed,.container-best-on-imdb{
  display: flex;
  overflow-x: scroll;
}
.animes-in-trending::-webkit-scrollbar,.anime-in-container-most-viewed::-webkit-scrollbar,.container-best-on-imdb::-webkit-scrollbar{
  display: none;
}
.anime-in-trending{
  position: relative;
  min-width: 200px;
  min-height: 300px;
  margin-right: 10px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 100%);

}
/* .anime-in-trending .image-container {
  width: 400px;
} */
.anime-in-trending .image-container img{
  position: absolute;
  /* z-index: -1; */
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.anime-in-trending .image-container a{
  /* opacity: 0; */
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: 100; */
}
.anime-in-trending:hover{
  cursor: pointer;
}
.anime-in-trending:hover > .container-in-trending .image-container img{
  /* height: 310px;
  width: 210px; */
  overflow: hidden;
  /* margin-left: -5px; */
  transform: scale(1.1);
}
@media only screen and (min-width:800px){
  .anime-in-trending:hover > .container-in-trending .vertical-container h3{
    margin-left: 20px;
  }
}
.animes-in-trending,.container-best-on-imdb,.anime-in-container-most-viewed{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width:1000px){
  .anime-in-trending{
    min-width: 200px;
  }
  .vertical-container{
    width: 35px;
  }
  /* .anime-in-trending .image-container{
    width: 200px;
  } */
  .anime-in-trending{
    min-width: 170px;
    min-height: 240px;
  }
  .anime-in-trending .image-container img{
    width: 170px;
    height: 240px;
  }
  .vertical-container h3{
    margin-top: 80px;
    font-size: 110%;
  }
}
@media only screen and (max-width:800px){
  .anime-in-trending{
  min-width: 140px;
  min-height: 220px;
}
.vertical-container{
  width: 100%;
  height: 30px;
  /* display: flex; */
}
/* .anime-in-trending .image-container{
  width: 200px;
} */
.anime-in-trending .image-container img{
  width: 140px;
  height: 220px;
}
.vertical-container h3{
  position: static;
  font-size: 100%;
  transform: rotate(0);
    width: 100%;
    height: 100%;
    margin: 0;
}
.vertical-container span{
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 0 3px;
}
.anime-in-trending{
  margin-right: 2px;
  /* margin: 0 5px; */
}
}
@media only screen and (max-width:550px){
  h2{
    font-size: 18px;
    margin-left: 10px;
  }
.anime-in-trending{
  min-width: 120px;
  min-height: 180px;
  position: relative;
}
.vertical-container{
  position: absolute;
  background: linear-gradient(180deg,rgba(0,0,0,0.5) 0, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0.1) 99%);
  /* background-color: #faa300; */
  /* rotate: 90deg; */
  width: 120px;
  height: 20px;
  display: flex;
}
.anime-in-trending .image-container img{
  width: 120px;
  height: 180px;
}
.vertical-container h3{
  transform: rotate(0deg);
  margin-top: 0;
  margin-left: 0;
  font-size: 60%;
  background-color: rgba(0,0,0,0.5);
  height: 20px;
  padding-left: 10px;
  /* text-align: center; */
  display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 0.5cm;
}
.vertical-container span{
  margin: 0;
  height: auto;
  margin-top: -5px;
  font-size: 12px;
  /* padding: 0 3px; */
}
.home-main-info h1{
  font-size: 70%;
}
}

.notification{
  display: none;
  height: 80vh;
  width: 90vw;
  z-index: 100;
  padding: 10vh 5vw 10vh 5vw;
  position: fixed;
}
.notification-content{
  /* background-color: #faa300; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.notification-background{
  position: absolute;
  z-index: -1;
  height: 80vh;
  width: 90vw;
  background:linear-gradient(90deg, rgba(0,0,0,0.4)0%,rgba(0,0,0,0.3) 20%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.8)100%), url(https://images.alphacoders.com/127/1271677.png);
  filter: blur(5px);
  background-size: cover;
}
.notification .close-div-not{
  height: 40px;
  width: 40px;
  /* float: right; */
  margin: 10px;
  padding: 15px;
  padding-bottom: 20px;
  transition: all 0.5s;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
  cursor: pointer;
  right: 6vw;
  position: absolute;
}
.notification .close-div-not:hover{
  background-color: rgba(255,255,255,0.7);
}
.notification .close-div-not{
  height: 20px;
  width: 20px;
}
.notification .notification-container{
  width: 80vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding-top: 300px;
}
.notification .notification-container .left-container-not{
  width: 40%;
}
.notification .notification-container .right-container-not{
  width: 40%;
}
.notification h3{
  font-size: 20px;
  margin: 0;
}
.notification h2{
  font-size: 50px;
  margin:20px 10px 10px 0;
}
.notification .sub-sub{
  display: flex;
}
.notification .sub-sub span{
  margin-top: 50px;
}
.right-container-not .countdown{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.right-container-not .countdown .hours, .min, .sec{
  font-size: 60px;
  color: rgba(255,255,255,0.7);
}
.right-container-not .countdown .hours-txt{
  font-size: 20px;
  color: rgba(255,255,255,0.7);
}

.newly-added-animes .newly-added-container{
  width: 98%;
  margin-inline: auto;
}
.newly-added-animes .newly-added-anime-container{
  height: 300px;
  background:linear-gradient(90deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/OnePieceLiveAction.jpg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: -100px;
  background-position-y: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.newly-added-animes .newly-added-anime-container .image-container-new-anime_{
  height: 100%;
  width: 100%;
  background: url(https://cdn.oneesports.gg/cdn-data/2023/08/OnePiece_LiveAction_Netflix_KeyVisual_Wallpaper_StrawHats.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}
.newly-added-animes .newly-added-anime-container .anime-name-container{
  padding-block: 10px;
}
.newly-added-animes .newly-added-anime-container h3{
  color: rgba(255,255,255,0.8);
  color: #faa300;
  font-size: 30px;
  font-weight: 800;
  transition: all 0.5s;
  cursor: pointer;
  /* margin-block: 10px; */
}
.newly-added-animes .newly-added-anime-container h3:hover{
  color: #faa300;
  transform: scale(1.01);
}
.newly-added-animes .newly-added-anime-data{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.newly-added-animes .newly-added-anime-container .anime-audios-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.newly-added-animes .newly-added-anime-container .anime-audios-container .anime-audio-div{
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.7);
  cursor: pointer;
  transition: all 0.5s;
  font-size: 15px;
}
.newly-added-animes .newly-added-anime-container .anime-audios-container .anime-audio-div:hover{
  transform: scale(1.05);
  background-color: #faa300;
  /* color: rgba(255,255,255,0.8); */
}
.newly-added-animes .newly-added-anime-container .anime-genres-new_{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* gap: 30px; */
  padding-inline-start: 0;
  margin: 0;
}
.newly-added-animes .newly-added-anime-container .anime-genres-new_ .anime-genre-new_{
  color: rgba(255,255,255,0.8);
  border-right: solid 1px rgba(255,255,255,0.8);
  padding-inline: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.newly-added-animes .newly-added-anime-container .anime-genres-new_ .anime-genre-new_:hover{
  color: #faa300;
}
.newly-added-animes .anime-updated-time-new_{
  margin-top: 10px;
  padding: 10px;
  color: rgba(255,255,255,0.8);
  font-size: 12px;
}
.newly-added-animes .anime-updated-time-new_ i{
  font-size: 10px;
  margin-right: 5px;
}
@media only screen and (max-width:1200px) {
  .newly-added-animes .newly-added-anime-container .image-container-new-anime_{
      background: linear-gradient(90deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://cdn.oneesports.gg/cdn-data/2023/08/OnePiece_LiveAction_Netflix_KeyVisual_Wallpaper_StrawHats.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
  }
}
@media only screen and (max-width:600px) {
  .newly-added-animes .newly-added-anime-container .image-container-new-anime_{
      background-size: cover;
      background-position-x: center;
  }
  .newly-added-animes .newly-added-anime-container .anime-audios-container{
    padding-inline: 10px;
  }
  .newly-added-animes .newly-added-anime-container .anime-audios-container .anime-audio-div, .newly-added-animes .newly-added-anime-container .anime-genres-new_ .anime-genre-new_, .newly-added-animes .anime-updated-time-new_{
    font-size: 10px;
  }
  .newly-added-animes .newly-added-anime-container h3{
    font-size: 25px;
  }

}
